<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <div class="tx-supi__buttongroup">
        <f:if condition="{individual}">
                <f:render section="Button" arguments="{
                    inputs: 'disable',
                    toggle: 'switch',
                    switchFrom: '#supi__overview',
                    switchTo: '#supi__detailview',
                    id: 'supi__individualSwitchTo',
                    text: '{f:translate(key: \'{settings.button.individual.text}\')}'
                }"/>
        </f:if>

        <f:if condition="!{hideAutoEssential}">
            <f:render section="Button" arguments="{
                toggle: 'dismiss',
                id: 'supi__dismiss',
                label: '{f:translate(key: \'{settings.button.dismiss.label}\')}',
                text: '{f:translate(key: \'{settings.button.dismiss.text}\')}'
            }"/>
        </f:if>

        <f:if condition="{save}">
            <f:render section="Button" arguments="{
                toggle: 'save',
                id: 'supi__save',
                label: '{f:translate(key: \'{settings.button.save.label}\')}',
                text: '{f:translate(key: \'{settings.button.save.text}\')}'
            }"/>
        </f:if>

        <f:render section="Button" arguments="{
            toggle: 'allow',
            class: 'tx-supi__allow',
            id: 'supi__allow{f:if(condition: \'{hideAutoEssential}\', then: \'-detailedView\')}',
            label: '{f:translate(key: \'{settings.button.allow.label}\', default: \'{settings.button.allow.label}\', extensionName: \'Supi\')}',
            text: '{f:translate(key: \'{settings.button.allow.text}\', default: \'{settings.button.allow.text}\', extensionName: \'Supi\')}'
        }"/>
    </div>

    <f:section name="Button">
        <button
            {f:if(condition: '{inputs}', then:' data-inputs="{inputs}"')}
            {f:if(condition: '{toggle}', then:' data-toggle="{toggle}"')}
            {f:if(condition: '{switchFrom}', then:' data-switch-from="{switchFrom}"')}
            {f:if(condition: '{switchTo}', then:' data-switch-to="{switchTo}"')}
            {f:if(condition: '{class}', then:' class="{class}"')}
            id="{id}">
            {text}
        </button>
    </f:section>

</html>
