<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="tx-supi__buttongroup">
    <ul class="supi-p-hg">
        <f:if condition="{individual}">
            <li>
                <f:render section="Button" arguments="{
                                inputs: 'disable',
                                toggle: 'switch',
                                switchFrom: '#supi__overview',
                                switchTo: '#supi__detailview',
                                id: 'supi__individualSwitchTo',
                                text: '{f:translate(key: \'{settings.button.individual.text}\', default: \'{settings.button.individual.text}\')}'
                            }"/>
            </li>
        </f:if>
        <f:if condition="{settings.showBigSwitch} AND {settings.detailed} AND {settings.hideAutoEssential}">
            <f:if condition="{hideAutoEssential}">
                <f:else>
                    <li>
                        <f:render section="Button" arguments="{
                                inputs: 'disable',
                                toggle: 'switch',
                                switchFrom: '#supi__overview',
                                switchTo: '#supi__detailview',
                                id: 'supi__switchTo',
                                label: '{f:translate(key: \'{settings.button.switch.label}\', default: \'{settings.button.switch.label}\')}',
                                text: '{f:translate(key: \'{settings.button.switch.text}\', default: \'{settings.button.switch.text}\')}'
                            }"/>
                    </li>
                </f:else>
            </f:if>
        </f:if>

        <f:if condition="{settings.hideAutoEssential} OR {hideAutoEssential}">
            <f:else>
                <li>
                    <f:render section="Button" arguments="{
                        toggle: 'dismiss',
                        id: 'supi__dismiss',
                        label: '{f:translate(key: \'{settings.button.dismiss.label}\', default: \'{settings.button.dismiss.label}\')}',
                        text: '{f:translate(key: \'{settings.button.dismiss.text}\', default: \'{settings.button.dismiss.text}\')}'
                    }"/>
                </li>
            </f:else>
        </f:if>

        <f:if condition="{save}">
            <li>
                <f:render section="Button" arguments="{
                    toggle: 'save',
                    id: 'supi__save',
                    label: '{f:translate(key: \'{settings.button.save.label}\', default: \'{settings.button.save.label}\')}',
                    text: '{f:translate(key: \'{settings.button.save.text}\', default: \'{settings.button.save.text}\')}'
                }"/>
            </li>
        </f:if>

        <li>
            <f:render section="Button" arguments="{
                toggle: 'allow',
                class: 'tx-supi__allow',
                id: 'supi__allow{f:if(condition: \'{hideAutoEssential}\', then: \'-detailedView\')}',
                label: '{f:translate(key: \'{settings.button.allow.label}\', default: \'{settings.button.allow.label}\')}',
                text: '{f:translate(key: \'{settings.button.allow.text}\', default: \'{settings.button.allow.text}\')}'
            }"/>
        </li>
    </ul>
</div>

<f:section name="Button">
    <button
        {f:if(condition: '{inputs}', then:' data-inputs="{inputs}"')}
        {f:if(condition: '{toggle}', then:' data-toggle="{toggle}"')}
        {f:if(condition: '{switchFrom}', then:' data-switch-from="{switchFrom}"')}
        {f:if(condition: '{switchTo}', then:' data-switch-to="{switchTo}"')}
        {f:if(condition: '{class}', then:' class="{class}"')}
        id="{id}">
        {text}
    </button>
</f:section>

</html>
