<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <f:comment><!-- @deprecated --></f:comment>
    <f:if condition="{element}">
        <f:then>
            <span class="tx-supi__heading">{f:translate(key: '{key}', default: '{key}', extensionName: 'Supi') -> f:format.raw()}</span>
        </f:then>
        <f:else>
            <span class="tx-supi__heading" id="supi__label{suffix}">{f:translate(key: '{key}', default: '{key}', extensionName: 'Supi') -> f:format.raw()}</span>
        </f:else>
    </f:if>

</html>
