<html data-namespace-typo3-fluid="true"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:supi="http://typo3.org/ns/Supseven/Supi/ViewHelpers">

    <div id="supi__detail">
        <div id="supi__overview" class="tx-supi__pane-visible">
            <f:render partial="Overview" arguments="{_all}" />
        </div>
        <div id="supi__detailview" class="tx-supi__pane-hidden">
            <div class="supi-p-hg">
                <f:render partial="Layout/Heading" arguments="{ key : settings.detail.headline, suffix: '_detail' }" />
                {f:translate(key:'{settings.detail.text}', default: '{settings.detail.text}') -> f:format.raw()}
            </div>

            <f:for each="{settings.elements}" as="element" key="blockName">
                <div class="tx-supi__block supi-px-hg supi-mb-hg">
                    <div class="tx-supi__block-header tx-supi__underline">
                        <f:render partial="Layout/Heading" arguments="{ key :'{element.label}', element : '{element}', default : '{element.label}'}" />
                        <f:comment>
                            <!--
                            <button data-toggle="visibility" aria-expanded="{f:if(condition:'{element.showOnLoad} == 1', then:'true', else:'false')}" data-target="#supi_body_{blockName}" class="tx-supi__link-button{f:if(condition:'{element.showOnLoad} == 1', then:' tx-supi__pane-active')}">
                            {f:translate(key:'{element.label}', default: '{element.label}') -> f:format.raw()}
                            </button>
                            -->
                        </f:comment>
                        <f:render partial="Form/Checkbox" arguments="{_all}" />
                    </div>

                    <f:if condition="{settings.perItemDetail}">
                        <f:else>
                            <f:format.raw><f:translate key="{element.text}">{element.text}</f:translate></f:format.raw>
                        </f:else>
                        <f:then>
                            <div class="tx-supi__block-body" id="supi_body_{blockName}">
                                <ul>
                                    <f:for each="{element.items}" as="item" key="itemName">
                                        <li class="tx-supi__block-item">
                                            <div>
                                                <div class="tx-supi__block-item__text">
                                                    <f:if condition="{item.table}">
                                                        <f:then>
                                                            <div class="tx-supi__block-item__header">
                                                                <button data-toggle="supiDetails" aria-expanded="false" data-target="#supiDetails{itemName}" class="tx-supi__link-button">{f:translate(key:'{item.label}', default: '{item.label}') -> f:format.raw()}</button>
                                                                <f:if condition="{settings.perItemSelect}">
                                                                    <f:alias map="{perItemSelect: settings.perItemSelect}">
                                                                        <f:render partial="Form/Checkbox" arguments="{_all}" />
                                                                    </f:alias>
                                                                </f:if>
                                                            </div>
                                                            <div class="tx-supi__block-item__table" id="supiDetails{itemName}" hidden>
                                                                <table class="tx-supi__block-item__table-overview">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th scope="row"><f:translate key="banner.provider.name">name</f:translate></th>
                                                                        <td><f:translate key="{item.table.name}">{item.table.name}</f:translate></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row"><f:translate key="banner.provider.company">company</f:translate></th>
                                                                        <td><f:translate key="{item.table.company}">{item.table.company}</f:translate></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row"><f:translate key="banner.provider.policy">policy</f:translate></th>
                                                                        <td><f:variable name="policyUrl"></f:variable><supi:ifInt value="{item.table.policy}">
                                                                            <f:then><f:uri.typolink parameter="{item.table.policy}" absolute="1" /></f:then>
                                                                            <f:else>{item.table.policy}</f:else>
                                                                        </supi:ifInt><a href="{policyUrl}" target="_blank" rel="noreferrer noopener">{policyUrl}</a></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <f:for each="{item.table.rows}" as="row" key="cookie">
                                                                    <table class="tx-supi__block-item__table-cookie">
                                                                        <tbody>
                                                                        <tr>
                                                                            <th scope="row"><f:translate key="banner.provider.cookie">cookie</f:translate></th>
                                                                            <td>{f:if(condition: row.key, then: row.key, else: cookie)}</td>
                                                                        </tr>
                                                                        <f:if condition="{row.type}">
                                                                            <tr>
                                                                                <th scope="row"><f:translate key="banner.provider.type">type</f:translate></th>
                                                                                <td><f:translate key="{row.type}">{row.type}</f:translate></td>
                                                                            </tr>
                                                                        </f:if>
                                                                        <tr>
                                                                            <th scope="row"><f:translate key="banner.provider.purpose">purpose</f:translate></th>
                                                                            <td><f:translate key="{row.purpose}">{row.purpose}</f:translate></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row"><f:translate key="banner.provider.duration">duration</f:translate></th>
                                                                            <td><f:translate key="{row.duration}">{row.duration}</f:translate></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </f:for>
                                                            </div>
                                                        </f:then>
                                                        <f:else>
                                                            <div class="tx-supi__block-item__header">
                                                                <span>{f:translate(key:'{item.label}', default: '{item.label}') -> f:format.raw()}</span>
                                                                <f:if condition="{item.names}"><small>{f:translate(key:'{item.names}', default: '{item.names}') -> f:format.raw()}</small></f:if>
                                                                <f:if condition="{settings.perItemSelect}">
                                                                    <f:alias map="{perItemSelect: settings.perItemSelect}">
                                                                        <f:render partial="Form/Checkbox" arguments="{_all}" />
                                                                    </f:alias>
                                                                </f:if>
                                                            </div>
                                                        </f:else>
                                                    </f:if>
                                                </div>
                                            </div>
                                        </li>
                                    </f:for>
                                </ul>
                            </div>
                        </f:then>
                    </f:if>
                </div>
            </f:for>
            <f:alias map="{ save : 1, hideAutoEssential : 1 }">
                <f:render partial="Layout/Buttons" arguments="{_all}" />
            </f:alias>
    </div>
    </div>

</html>
