<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div id="supi__detailview" class="tx-supi__detail" hidden>
    <div class="supi__description">
        <h2>{f:translate(key: '{settings.detail.headline}')}</h2>
        <p>{f:translate(key:'{settings.detail.text}')}</p>
    </div>

    <f:for each="{settings.elements}" as="element" key="blockName">
        <div class="tx-supi__block">
            <div class="tx-supi__block-header">
                <h3>{f:translate(key: '{element.label}')}</h3>
                <f:render partial="Form/Checkbox" arguments="{_all}"/>
            </div>

            <div class="tx-supi__block-body" id="supi_body_{blockName}">
                <f:for each="{element.items}" as="item" key="itemName">
                    <details id="supiDetails[{itemName}]">
                        <summary class="tx-supi__summary">
                                <span>
                                    <svg viewBox="0 0 14 14" aria-hidden="true">
                                        <path
                                            d="M6.99954 10.3903C6.74767 10.3903 6.49569 10.2941 6.30374 10.1019L1.38213 5.18027C0.997625 4.79577 0.997625 4.17288 1.38213 3.78838C1.76663 3.40387 2.38952 3.40387 2.77402 3.78838L6.99954 8.01558L11.226 3.78914C11.6105 3.40464 12.2334 3.40464 12.6179 3.78914C13.0024 4.17365 13.0024 4.79654 12.6179 5.18104L7.69625 10.1027C7.504 10.2949 7.25177 10.3903 6.99954 10.3903Z"
                                            fill="currentColor"/>
                                    </svg>
                                    {f:translate(key:'{item.label}', default: '{item.label}', extensionName: 'Supi') -> f:format.raw()}
                                </span>
                            <f:alias map="{perItemSelect: 1}">
                                <f:render partial="Form/Checkbox" arguments="{_all}"/>
                            </f:alias>
                        </summary>
                        <f:if condition="{item.table.name}">
                            <div class="tx-supi__block-item__table">
                                <table class="tx-supi__block-item__table-overview">
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            <f:translate key="banner.provider.name" extensionName="Supi">name
                                            </f:translate>
                                        </th>
                                        <td>
                                            <f:translate key="{item.table.name}" extensionName="Supi">
                                                {item.table.name}
                                            </f:translate>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <f:translate key="banner.provider.company" extensionName="Supi">company
                                            </f:translate>
                                        </th>
                                        <td>
                                            <f:translate key="{item.table.company}" extensionName="Supi">
                                                {item.table.company}
                                            </f:translate>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <f:translate key="banner.provider.policy" extensionName="Supi">policy
                                            </f:translate>
                                        </th>
                                        <td>
                                            <a href="{item.table.policyUrl}" target="_blank" rel="noreferrer noopener">{item.table.policyUrl}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <f:for each="{item.table.rows}" as="row" key="cookie">
                                    <table class="tx-supi__block-item__table-cookie">
                                        <tbody>
                                        <tr>
                                            <th scope="row">
                                                <f:translate key="banner.provider.cookie" extensionName="Supi">cookie
                                                </f:translate>
                                            </th>
                                            <td>{f:if(condition: row.key, then: row.key, else: cookie)}</td>
                                        </tr>
                                        <f:if condition="{row.type}">
                                            <tr>
                                                <th scope="row">
                                                    <f:translate key="banner.provider.type" extensionName="Supi">type
                                                    </f:translate>
                                                </th>
                                                <td>
                                                    <f:translate key="{row.type}" extensionName="Supi">{row.type}
                                                    </f:translate>
                                                </td>
                                            </tr>
                                        </f:if>
                                        <tr>
                                            <th scope="row">
                                                <f:translate key="banner.provider.purpose" extensionName="Supi">
                                                    purpose
                                                </f:translate>
                                            </th>
                                            <td>
                                                <f:translate key="{row.purpose}" extensionName="Supi">{row.purpose}
                                                </f:translate>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <f:translate key="banner.provider.duration" extensionName="Supi">
                                                    duration
                                                </f:translate>
                                            </th>
                                            <td>
                                                <f:translate key="{row.duration}" extensionName="Supi">{row.duration}
                                                </f:translate>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </f:for>
                            </div>
                        </f:if>
                    </details>
                </f:for>
            </div>
        </div>
    </f:for>

    <f:alias map="{ save : 1, hideAutoEssential : 1 }">
        <f:render partial="Layout/Buttons" arguments="{_all}"/>
    </f:alias>
</div>

</html>
