<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

    <div id="supi__overview" class="tx-supi__detail">
        <div id="supi__description">
            <h1>{f:translate(key: '{settings.content.headline}')}</h1>

            <f:alias map="{
                arguments: {
                    0: '{f:uri.typolink(parameter: \'{settings.gdpr.uid}\')}',
                    1: '{f:translate(key: \'{settings.gdpr.name}\')}'
                }
            }">
                {f:translate(key: '{settings.content.text}', arguments: '{arguments}', default: '{settings.content.text}') -> f:format.raw()}
            </f:alias>
        </div>

        <f:alias map="{ individual : 1, hideAutoEssential : 0 }">
            <f:render partial="Layout/Buttons" arguments="{_all}" />
        </f:alias>
    </div>

</html>
