<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="supi-checkbox">
    <f:if condition="{perItemSelect}">
        <f:then>
            <input id="supi[{blockName}_{itemName}]"
                   type="checkbox"
                   data-supi-required="{element.required}"
                   data-supi-block="{blockName}"
                   data-supi-item="{itemName}"
                   name="supi[{blockName}_{itemName}]"
                   {f:if(condition: item.service, then: 'data-supi-service="{item.service}"')}
            value="{item.names}"
            checked{f:if(condition: element.required, then: ' disabled')}
            >
            <label for="supi[{blockName}_{itemName}]" class="supi-checkbox">
                <span class="sr-only">{f:translate(key:'{item.label}', default: '{item.label}') -> f:format.raw()}</span>
                <svg focusable="false" aria-hidden="true" width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.82813 10.5H1.17188L1.79063 5.69062C1.29919 5.4193 0.911888 4.99231 0.689641 4.47681C0.467394 3.96132 0.422813 3.38657 0.562908 2.84297C0.703004 2.29937 1.01983 1.81776 1.46355 1.4739C1.90726 1.13003 2.4527 0.943426 3.01406 0.943426C3.57543 0.943426 4.12086 1.13003 4.56458 1.4739C5.0083 1.81776 5.32513 2.29937 5.46522 2.84297C5.60532 3.38657 5.56073 3.96132 5.33849 4.47681C5.11624 4.99231 4.72894 5.4193 4.2375 5.69062L4.82813 10.5Z" fill="currentColor"/>
                </svg>
            </label>
        </f:then>
        <f:else>
            <input id="supi[{blockName}]"
                   type="checkbox"
                   data-supi-required="{element.required}"
                   data-supi-parent="{blockName}"
                   data-supi-block="{blockName}"
                   {f:if(condition: item.service, then: 'data-supi-service="{item.service}"')}
            name="supi[{blockName}]"
            value="{element.names}"
            checked
            {f:if(condition: element.required, then: ' disabled')}
            >
            <label for="supi[{blockName}]" class="supi-checkbox">
                <span class="sr-only">{f:translate(key:'{element.label}', default: '{element.label}') -> f:format.raw()}</span>
                <svg focusable="false" aria-hidden="true" width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.82813 10.5H1.17188L1.79063 5.69062C1.29919 5.4193 0.911888 4.99231 0.689641 4.47681C0.467394 3.96132 0.422813 3.38657 0.562908 2.84297C0.703004 2.29937 1.01983 1.81776 1.46355 1.4739C1.90726 1.13003 2.4527 0.943426 3.01406 0.943426C3.57543 0.943426 4.12086 1.13003 4.56458 1.4739C5.0083 1.81776 5.32513 2.29937 5.46522 2.84297C5.60532 3.38657 5.56073 3.96132 5.33849 4.47681C5.11624 4.99231 4.72894 5.4193 4.2375 5.69062L4.82813 10.5Z" fill="currentColor"/>
                </svg>
            </label>
        </f:else>
    </f:if>
</div>

</html>
