<html
        data-namespace-typo3-fluid="true"
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:supi="http://typo3.org/ns/Supseven/Supi/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="Head">
        <f:if condition="{settings.enabled}">
            <f:if condition="{settings.bundledScript}">
                <supi:append section="head" as="supi_script">
                    <script id="supi:script" type="text/javascript" src="{f:uri.resource(path: settings.bundledScript)}" data-supi-config="{config -> f:format.htmlspecialchars()}" async></script>
                </supi:append>
            </f:if>

            <f:if condition="{settings.bundledStyles}">
                <supi:append section="head" as="supi_styles">
                    <link rel="stylesheet" href="{f:uri.resource(path: settings.bundledStyles)}">
                </supi:append>
            </f:if>
        </f:if>
    </f:section>

    <f:section name="Main">
        <f:if condition="{settings.enabled}">
            <f:if condition="{settings.elements.essential -> f:count() > 0}">
                <div id="supi:banner" class="tx-supi position position-{settings.position} theme theme-{settings.theme} hidden" aria-describedby="supi:description" aria-labelledby="supi:label" aria-live="status" role="dialog">
                    <div id="supi:description">
                        <h3 id="supi:label">{f:translate(key: '{settings.content.headline}')}</h3>
                        {f:translate(key: '{settings.content.text}', arguments: '{
                            0: \'{f:uri.typolink(parameter: \\\'{settings.gdpr.uid}\\\')}\',
                            1: \'{f:translate(key: \\\'{settings.gdpr.name}\\\')}\'
                        }') -> f:format.raw()}
                    </div>

                    <ul id="supi:elements">
                        <f:for each="{settings.elements}" as="element">
                            <li class="supi-element">
                                <span class="supi-element__label">{f:translate(key: '{element.label}')}</span>
                                <span class="supi-element__text">{f:translate(key: '{element.text}')}</span>
                                <span class="supi-element__names">{element.names}</span>
                            </li>
                        </f:for>
                    </ul>

                    <nav>
                        <ul>
                            <li><a href="#allow" id="supi:allow" aria-label="{f:translate(key: settings.button.allow.label)}" role="button" tabindex="0">{f:translate(key: settings.button.allow.text)}</a></li>
                            <li><a href="#dismiss" id="supi:dismiss" aria-label="{f:translate(key: settings.button.dismiss.label)}" role="button" tabindex="1">{f:translate(key: settings.button.dismiss.text)}</a></li>
                        </ul>
                    </nav>
                </div>
            </f:if>
        </f:if>
    </f:section>

</html>
