<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:supi="http://typo3.org/ns/Supseven/Supi/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="Head">
        <f:if condition="{settings.bundledScript}">
            <supi:append section="head" as="supi_script">
                <script type="text/javascript" src="{f:uri.resource(path: settings.bundledScript)}" data-supi-config="{config -> f:format.htmlspecialchars()}"></script>
            </supi:append>
        </f:if>

        <f:if condition="{settings.bundledStyles}">
            <supi:append section="head" as="supi_styles">
                <link rel="stylesheet" href="{f:uri.resource(path: settings.bundledStyles)}">
            </supi:append>
        </f:if>
    </f:section>

    <f:section name="Main">
        <f:if condition="{settings.elements -> f:count()} < 2 && {settings.elements.essential}">
            <div id="supi:banner" class="tx-supi position position-{settings.position} theme theme-{settings.theme} hidden" aria-describedby="supi:description" aria-labelledby="supi:label" aria-live="status" role="dialog">
                <div id="supi:description">
                    <h3 id="supi:label">{settings.content.headline}</h3>
                    <p>{settings.content.text}</p>
                </div>

                <!-- iterieren wir hier über alle möglichen zukünfigen? -->
                <div class="elements">
                    {settings.elements.essential.text}
                    <a aria-label="{settings.elements.essential.link.label}" href="{settings.elements.essential.link.href}" role="button" tabindex="0" target="{settings.elements.essential.link.href}">{settings.elements.essential.link.text}</a>
                </div>

                <nav>
                    <ul>
                        <li><a href="#dismiss" id="supi:dismiss" aria-label="{settings.button.dismiss.label}" role="button" tabindex="0" class="button button-dismiss">{settings.button.dismiss.text}</a></li>
                        <li><a href="#allow" id="supi:allow" aria-label="{settings.button.allow.label}" role="button" tabindex="0" class="button button-allow">{settings.button.allow.text}</a></li>
                    </ul>
                </nav>
            </div>
        </f:if>
    </f:section>

</html>
