<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:supi="http://typo3.org/ns/Supseven/Supi/ViewHelpers">

    <section class="tx-supi tx-supi__button">
        <f:if condition="{data.header_layout} != 100">
            <header class="tx-supi__button-header">
                <h{data.header_layout}>{data.header}</h{data.header_layout}>
            </header>
        </f:if>

        <div class="tx-supi__button-wrap">
            <f:if condition="{data.bodytext} != ''">
                <div class="tx-supi__button-content">
                    {data.bodytext -> f:format.html()}
                </div>
            </f:if>

            <a href="#choose" id="supi:choose" aria-label="{f:translate(key: '{settings.button.choose.label}', default: '{settings.button.choose.label}')}" role="button" tabindex="0">
                {f:translate(key: '{settings.button.choose.text}', default: '{settings.button.choose.text}')}
            </a>
        </div>
    </section>

</html>
