<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:supi="http://typo3.org/ns/Supseven/Supi/ViewHelpers">

    <div class="tx-supi">
        <a href="#choose" id="supi:choose" aria-label="{settings.button.choose.label -> f:translate(key: settings.button.choose.label)}" role="button" tabindex="0" class="button button-choose"><f:translate key="{settings.button.choose.text}">{settings.button.choose.text}</f:translate></a>
    </div>

</html>
