name: 'Code Style'

on: [push, pull_request]

jobs:
  lint-php:
    name: PHP Code Style
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.5
          extensions: intl, mbstring, json, zip, curl
          tools: composer:v2

      - name: Lint code
        run: |
          composer install --no-scripts --no-plugins --no-progress -n --ansi
          vendor/bin/php-cs-fixer check --config=.php-cs-fixer.php --diff

  lint-frontend:
    name: Frontend Code Style
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: 'Build/.nvmrc'

      - name: Lint code
        run: |
          cd Build
          yarn install --frozen-lockfile --prefer-offline
          node_modules/.bin/prettier --check .
